$btn-color: #01d28e;
$border-color: #bec8c8;
$card1: #878c96;
$card2: #ff6e31;
$card3: #ad975e;
$card4: #ad8e70;
$card-border-color: #dddcdc;
$card-box-shadow: rgba(0, 0, 0, 0.2);
$card-font-color: #ffffff;
