@import "../variable";

.footer {
  background-color: $card-font-color;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.footer-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {

  .align-item-center{
    justify-content: center;
  }
 
 }